<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mozidev.testopengl" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.REBOOT" />

    <application
        android:name=".MappingApplication"
        android:allowBackup="true"
        android:icon="@android:drawable/ic_dialog_dialer"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activity.MappingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
        </activity>

        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".activity.DownloadActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_download"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_splash"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.SocketService"
            android:enabled="false"
            android:exported="false" >
        </service>

        <meta-data android:name="AA_DB_NAME" android:value="DM.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.mozidev.testopengl.model.Device, com.mozidev.testopengl.model.WorkLog" />

    </application>

</manifest>
